#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Button_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Text_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Text_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Image_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Youtube {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Text_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Image_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Image_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Line_2 {
  rotation: 89.0;
  margin-left: 13px;
  margin-top: -15px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Line_3 {
  rotation: 180.0;
  margin-left: 0px;
  margin-top: -1px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Text_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Image_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Text_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Image_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Rectangle_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Image_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Text_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Text_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Text_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}