#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f1ddf36-7a8e-4450-9ca0-52c2238e3ea7 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}