#s-257cb659-1c4f-43cc-b201-5562c8672377 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-257cb659-1c4f-43cc-b201-5562c8672377 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-257cb659-1c4f-43cc-b201-5562c8672377 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-257cb659-1c4f-43cc-b201-5562c8672377 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-257cb659-1c4f-43cc-b201-5562c8672377 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-257cb659-1c4f-43cc-b201-5562c8672377 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-257cb659-1c4f-43cc-b201-5562c8672377 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-257cb659-1c4f-43cc-b201-5562c8672377 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-257cb659-1c4f-43cc-b201-5562c8672377 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-257cb659-1c4f-43cc-b201-5562c8672377 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-257cb659-1c4f-43cc-b201-5562c8672377 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-257cb659-1c4f-43cc-b201-5562c8672377 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-257cb659-1c4f-43cc-b201-5562c8672377 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-257cb659-1c4f-43cc-b201-5562c8672377 #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-257cb659-1c4f-43cc-b201-5562c8672377 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-257cb659-1c4f-43cc-b201-5562c8672377 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}