#s-4f5b287e-ecee-470e-bfcc-a16088ce5d14 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4f5b287e-ecee-470e-bfcc-a16088ce5d14 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4f5b287e-ecee-470e-bfcc-a16088ce5d14 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4f5b287e-ecee-470e-bfcc-a16088ce5d14 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4f5b287e-ecee-470e-bfcc-a16088ce5d14 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4f5b287e-ecee-470e-bfcc-a16088ce5d14 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4f5b287e-ecee-470e-bfcc-a16088ce5d14 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4f5b287e-ecee-470e-bfcc-a16088ce5d14 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4f5b287e-ecee-470e-bfcc-a16088ce5d14 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4f5b287e-ecee-470e-bfcc-a16088ce5d14 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4f5b287e-ecee-470e-bfcc-a16088ce5d14 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4f5b287e-ecee-470e-bfcc-a16088ce5d14 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4f5b287e-ecee-470e-bfcc-a16088ce5d14 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4f5b287e-ecee-470e-bfcc-a16088ce5d14 #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4f5b287e-ecee-470e-bfcc-a16088ce5d14 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4f5b287e-ecee-470e-bfcc-a16088ce5d14 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4f5b287e-ecee-470e-bfcc-a16088ce5d14 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}