#s-76ec98cd-3a2a-4b24-96a6-2f7e9aa82f29 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76ec98cd-3a2a-4b24-96a6-2f7e9aa82f29 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76ec98cd-3a2a-4b24-96a6-2f7e9aa82f29 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76ec98cd-3a2a-4b24-96a6-2f7e9aa82f29 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76ec98cd-3a2a-4b24-96a6-2f7e9aa82f29 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76ec98cd-3a2a-4b24-96a6-2f7e9aa82f29 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76ec98cd-3a2a-4b24-96a6-2f7e9aa82f29 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76ec98cd-3a2a-4b24-96a6-2f7e9aa82f29 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76ec98cd-3a2a-4b24-96a6-2f7e9aa82f29 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76ec98cd-3a2a-4b24-96a6-2f7e9aa82f29 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76ec98cd-3a2a-4b24-96a6-2f7e9aa82f29 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76ec98cd-3a2a-4b24-96a6-2f7e9aa82f29 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76ec98cd-3a2a-4b24-96a6-2f7e9aa82f29 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76ec98cd-3a2a-4b24-96a6-2f7e9aa82f29 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76ec98cd-3a2a-4b24-96a6-2f7e9aa82f29 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76ec98cd-3a2a-4b24-96a6-2f7e9aa82f29 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76ec98cd-3a2a-4b24-96a6-2f7e9aa82f29 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76ec98cd-3a2a-4b24-96a6-2f7e9aa82f29 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76ec98cd-3a2a-4b24-96a6-2f7e9aa82f29 #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76ec98cd-3a2a-4b24-96a6-2f7e9aa82f29 #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76ec98cd-3a2a-4b24-96a6-2f7e9aa82f29 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}