#s-7c8750f8-7f4c-462d-92ea-d67090748d98 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7c8750f8-7f4c-462d-92ea-d67090748d98 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7c8750f8-7f4c-462d-92ea-d67090748d98 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7c8750f8-7f4c-462d-92ea-d67090748d98 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7c8750f8-7f4c-462d-92ea-d67090748d98 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7c8750f8-7f4c-462d-92ea-d67090748d98 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7c8750f8-7f4c-462d-92ea-d67090748d98 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7c8750f8-7f4c-462d-92ea-d67090748d98 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7c8750f8-7f4c-462d-92ea-d67090748d98 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7c8750f8-7f4c-462d-92ea-d67090748d98 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7c8750f8-7f4c-462d-92ea-d67090748d98 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7c8750f8-7f4c-462d-92ea-d67090748d98 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7c8750f8-7f4c-462d-92ea-d67090748d98 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7c8750f8-7f4c-462d-92ea-d67090748d98 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7c8750f8-7f4c-462d-92ea-d67090748d98 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7c8750f8-7f4c-462d-92ea-d67090748d98 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7c8750f8-7f4c-462d-92ea-d67090748d98 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7c8750f8-7f4c-462d-92ea-d67090748d98 #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7c8750f8-7f4c-462d-92ea-d67090748d98 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7c8750f8-7f4c-462d-92ea-d67090748d98 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}