#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Ellipse_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Button_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Button_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Button_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}