#s-7fb59c99-e9a2-4b55-b599-a339069e412e > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1024px;
  min-width: 1024px;
  min-height: 768px;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Rectangle_1 {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 1016px;
  height: 143px;
  background-color: #000000;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Image_1 {
  position: absolute;
  top: -12px;
  left: 27px;
  width: 552px;
  height: 173px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Image_2 {
  position: absolute;
  top: 70px;
  left: 600px;
  width: 167px;
  height: 69px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Button_1 {
  position: absolute;
  top: 110px;
  left: 917px;
  width: 62px;
  height: 23px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Button_1 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Button_1 span#rtr-s-Button_1_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Rectangle_2 {
  position: absolute;
  top: 147px;
  left: 1px;
  width: 1016px;
  height: 48px;
  background-color: #666666;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Text_1 {
  position: absolute;
  top: 156px;
  left: 275px;
  width: 56px;
  height: 34px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 14.0pt;
  font-family: PermanentMarker-Regular,Arial;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Text_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: PermanentMarker-Regular,Arial;
  font-size: 14.0pt;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Text_1 span#rtr-s-Text_1_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: PermanentMarker-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Text_2 {
  position: absolute;
  top: 144px;
  left: 378px;
  width: 45px;
  height: 57px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 14.0pt;
  font-family: PermanentMarker-Regular,Arial;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Text_2 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: PermanentMarker-Regular,Arial;
  font-size: 14.0pt;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Text_2 span#rtr-s-Text_2_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: PermanentMarker-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Text_3 {
  position: absolute;
  top: 155px;
  left: 465px;
  width: 92px;
  height: 35px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 14.0pt;
  font-family: PermanentMarker-Regular,Arial;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Text_3 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: PermanentMarker-Regular,Arial;
  font-size: 14.0pt;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Text_3 span#rtr-s-Text_3_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: PermanentMarker-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Text_4 {
  position: absolute;
  top: 151px;
  left: 600px;
  width: 65px;
  height: 43px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 14.0pt;
  font-family: PermanentMarker-Regular,Arial;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Text_4 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: PermanentMarker-Regular,Arial;
  font-size: 14.0pt;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Text_4 span#rtr-s-Text_4_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: PermanentMarker-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Text_5 {
  position: absolute;
  top: 158px;
  left: 722px;
  width: 45px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 14.0pt;
  font-family: PermanentMarker-Regular,Arial;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Text_5 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: PermanentMarker-Regular,Arial;
  font-size: 14.0pt;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Text_5 span#rtr-s-Text_5_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: PermanentMarker-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Text_6 {
  position: absolute;
  top: 301px;
  left: 323px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: PermanentMarker-Regular,Arial;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Text_6 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: PermanentMarker-Regular,Arial;
  font-size: 16.0pt;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Text_6 span#rtr-s-Text_6_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: PermanentMarker-Regular,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Paragraph_1 {
  position: absolute;
  top: 374px;
  left: 340px;
  width: 400px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Paragraph_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Image_4 {
  position: absolute;
  top: 251px;
  left: 59px;
  width: 265px;
  height: 262px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Rectangle_4 {
  position: absolute;
  top: 238px;
  left: 846px;
  width: 92px;
  height: 40px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 19px;
  font-size: 10.0pt;
  font-family: PermanentMarker-Regular,Arial;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Rectangle_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: PermanentMarker-Regular,Arial;
  font-size: 10.0pt;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: PermanentMarker-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Image_3 {
  position: absolute;
  top: 290px;
  left: 841px;
  width: 106px;
  height: 109px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Ellipse_1 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 115px;
  height: 89px;
  position: absolute;
  overflow: hidden;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Ellipse_1 .content {
  width: 115px;
  height: 89px;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Ellipse_1 {
  position: absolute;
  top: 552px;
  left: 291px;
  width: 115px;
  height: 89px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 19px;
  font-size: 10.0pt;
  font-family: PermanentMarker-Regular,Arial;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #shapewrapper-s-Ellipse_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: PermanentMarker-Regular,Arial;
  font-size: 10.0pt;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: PermanentMarker-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Ellipse_2 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 115px;
  height: 89px;
  position: absolute;
  overflow: hidden;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Ellipse_2 .content {
  width: 115px;
  height: 89px;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Ellipse_2 {
  position: absolute;
  top: 552px;
  left: 551px;
  width: 115px;
  height: 89px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 19px;
  font-size: 10.0pt;
  font-family: PermanentMarker-Regular,Arial;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #shapewrapper-s-Ellipse_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #shapewrapper-s-Ellipse_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: PermanentMarker-Regular,Arial;
  font-size: 10.0pt;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #shapewrapper-s-Ellipse_2 span#rtr-s-Ellipse_2_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: PermanentMarker-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Ellipse_3 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 115px;
  height: 89px;
  position: absolute;
  overflow: hidden;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Ellipse_3 .content {
  width: 115px;
  height: 89px;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Ellipse_3 {
  position: absolute;
  top: 552px;
  left: 793px;
  width: 115px;
  height: 89px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 19px;
  font-size: 10.0pt;
  font-family: PermanentMarker-Regular,Arial;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #shapewrapper-s-Ellipse_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #shapewrapper-s-Ellipse_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: PermanentMarker-Regular,Arial;
  font-size: 10.0pt;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #shapewrapper-s-Ellipse_3 span#rtr-s-Ellipse_3_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: PermanentMarker-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Line_1 {
  position: absolute;
  top: 592px;
  left: 438px;
  width: 92px;
  height: 11px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Line_2 {
  position: absolute;
  top: 591px;
  left: 683px;
  width: 92px;
  height: 11px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Dynamic_Panel_1 {
  position: absolute;
  top: 260px;
  left: 596px;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Panel_1 {
  width: 191px;
  height: 100px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Rectangle_5 {
  position: absolute;
  top: 14px;
  left: 14px;
  width: 155px;
  height: 70px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 30px;
  font-size: 16.0pt;
  font-family: PermanentMarker-Regular,Arial;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Rectangle_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: PermanentMarker-Regular,Arial;
  font-size: 16.0pt;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: PermanentMarker-Regular,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Panel_2 {
  width: 180px;
  height: 100px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Panel_2 .verticalalign {
  vertical-align: top;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Rectangle_6 {
  position: absolute;
  top: 14px;
  left: 14px;
  width: 155px;
  height: 70px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 30px;
  font-size: 16.0pt;
  font-family: PermanentMarker-Regular,Arial;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Rectangle_6 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: PermanentMarker-Regular,Arial;
  font-size: 16.0pt;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: PermanentMarker-Regular,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Panel_3 {
  width: 180px;
  height: 100px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Panel_3 .verticalalign {
  vertical-align: top;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Rectangle_10 {
  position: absolute;
  top: 14px;
  left: 14px;
  width: 155px;
  height: 70px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 30px;
  font-size: 16.0pt;
  font-family: PermanentMarker-Regular,Arial;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Rectangle_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Rectangle_10 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: PermanentMarker-Regular,Arial;
  font-size: 16.0pt;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: PermanentMarker-Regular,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Panel_4 {
  width: 180px;
  height: 100px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Panel_4 .verticalalign {
  vertical-align: top;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Rectangle_7 {
  position: absolute;
  top: 14px;
  left: 14px;
  width: 155px;
  height: 70px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 30px;
  font-size: 16.0pt;
  font-family: PermanentMarker-Regular,Arial;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Rectangle_7 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: PermanentMarker-Regular,Arial;
  font-size: 16.0pt;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: PermanentMarker-Regular,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Panel_5 {
  width: 180px;
  height: 100px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Panel_5 .verticalalign {
  vertical-align: top;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Rectangle_8 {
  position: absolute;
  top: 14px;
  left: 14px;
  width: 155px;
  height: 70px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 30px;
  font-size: 16.0pt;
  font-family: PermanentMarker-Regular,Arial;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Rectangle_8 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: PermanentMarker-Regular,Arial;
  font-size: 16.0pt;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: PermanentMarker-Regular,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Panel_6 {
  width: 180px;
  height: 100px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Panel_6 .verticalalign {
  vertical-align: top;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Rectangle_9 {
  position: absolute;
  top: 14px;
  left: 14px;
  width: 155px;
  height: 70px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 30px;
  font-size: 16.0pt;
  font-family: PermanentMarker-Regular,Arial;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Rectangle_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Rectangle_9 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: PermanentMarker-Regular,Arial;
  font-size: 16.0pt;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: PermanentMarker-Regular,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Text_7 {
  position: absolute;
  top: 229px;
  left: 651px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: PermanentMarker-Regular,Arial;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Text_7 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: PermanentMarker-Regular,Arial;
  font-size: 10.0pt;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Text_7 span#rtr-s-Text_7_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: PermanentMarker-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Button_2 {
  position: absolute;
  top: 290px;
  left: 493px;
  width: 21px;
  height: 23px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Button_2 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Button_2 span#rtr-s-Button_2_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Button_3 {
  position: absolute;
  top: 290px;
  left: 525px;
  width: 21px;
  height: 23px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Button_3 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Button_3 span#rtr-s-Button_3_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Button_4 {
  position: absolute;
  top: 290px;
  left: 560px;
  width: 21px;
  height: 23px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Button_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Button_4 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Button_4 span#rtr-s-Button_4_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Button_5 {
  position: absolute;
  top: 325px;
  left: 493px;
  width: 21px;
  height: 23px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Button_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Button_5 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Button_5 span#rtr-s-Button_5_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Button_6 {
  position: absolute;
  top: 325px;
  left: 525px;
  width: 21px;
  height: 23px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Button_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Button_6 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Button_6 span#rtr-s-Button_6_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Button_7 {
  position: absolute;
  top: 325px;
  left: 560px;
  width: 21px;
  height: 23px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Button_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Button_7 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Button_7 span#rtr-s-Button_7_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Button_8 {
  position: absolute;
  top: 591px;
  left: 125px;
  width: 127px;
  height: 18px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Button_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Button_8 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Button_8 span#rtr-s-Button_8_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Rectangle_3 {
  position: absolute;
  top: 512px;
  left: 104px;
  width: 171px;
  height: 76px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 27px;
  font-size: 14.0pt;
  font-family: Permanent Marker Regular,Arial;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Permanent Marker Regular,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Permanent Marker Regular,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Rectangle_11 {
  position: absolute;
  top: 647px;
  left: 276px;
  width: 135px;
  height: 60px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 19px;
  font-size: 10.0pt;
  font-family: Roboto Regular,Arial;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Rectangle_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Rectangle_11 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto Regular,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Rectangle_11 span#rtr-s-Rectangle_11_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto Regular,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Rectangle_12 {
  position: absolute;
  top: 647px;
  left: 539px;
  width: 135px;
  height: 60px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 19px;
  font-size: 10.0pt;
  font-family: Roboto Regular,Arial;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Rectangle_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Rectangle_12 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto Regular,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Rectangle_12 span#rtr-s-Rectangle_12_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto Regular,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Rectangle_13 {
  position: absolute;
  top: 647px;
  left: 781px;
  width: 135px;
  height: 60px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 19px;
  font-size: 10.0pt;
  font-family: Roboto Regular,Arial;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Rectangle_13 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Rectangle_13 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto Regular,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Rectangle_13 span#rtr-s-Rectangle_13_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto Regular,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Text_9 {
  position: absolute;
  top: 727px;
  left: 928px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Text_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Text_9 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e #s-Text_9 span#rtr-s-Text_9_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-7fb59c99-e9a2-4b55-b599-a339069e412e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}