#s-9a334326-6d99-4385-a8d1-420b809fc011 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a334326-6d99-4385-a8d1-420b809fc011 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a334326-6d99-4385-a8d1-420b809fc011 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a334326-6d99-4385-a8d1-420b809fc011 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a334326-6d99-4385-a8d1-420b809fc011 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a334326-6d99-4385-a8d1-420b809fc011 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a334326-6d99-4385-a8d1-420b809fc011 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a334326-6d99-4385-a8d1-420b809fc011 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a334326-6d99-4385-a8d1-420b809fc011 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a334326-6d99-4385-a8d1-420b809fc011 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a334326-6d99-4385-a8d1-420b809fc011 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a334326-6d99-4385-a8d1-420b809fc011 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a334326-6d99-4385-a8d1-420b809fc011 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a334326-6d99-4385-a8d1-420b809fc011 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a334326-6d99-4385-a8d1-420b809fc011 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}