#s-a75d9a3d-2de6-442a-ab1c-18913ce22956 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a75d9a3d-2de6-442a-ab1c-18913ce22956 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a75d9a3d-2de6-442a-ab1c-18913ce22956 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a75d9a3d-2de6-442a-ab1c-18913ce22956 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a75d9a3d-2de6-442a-ab1c-18913ce22956 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a75d9a3d-2de6-442a-ab1c-18913ce22956 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a75d9a3d-2de6-442a-ab1c-18913ce22956 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a75d9a3d-2de6-442a-ab1c-18913ce22956 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a75d9a3d-2de6-442a-ab1c-18913ce22956 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a75d9a3d-2de6-442a-ab1c-18913ce22956 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a75d9a3d-2de6-442a-ab1c-18913ce22956 #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a75d9a3d-2de6-442a-ab1c-18913ce22956 #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a75d9a3d-2de6-442a-ab1c-18913ce22956 #s-Ellipse_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a75d9a3d-2de6-442a-ab1c-18913ce22956 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a75d9a3d-2de6-442a-ab1c-18913ce22956 #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a75d9a3d-2de6-442a-ab1c-18913ce22956 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a75d9a3d-2de6-442a-ab1c-18913ce22956 #s-Button_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a75d9a3d-2de6-442a-ab1c-18913ce22956 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a75d9a3d-2de6-442a-ab1c-18913ce22956 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a75d9a3d-2de6-442a-ab1c-18913ce22956 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a75d9a3d-2de6-442a-ab1c-18913ce22956 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a75d9a3d-2de6-442a-ab1c-18913ce22956 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a75d9a3d-2de6-442a-ab1c-18913ce22956 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a75d9a3d-2de6-442a-ab1c-18913ce22956 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a75d9a3d-2de6-442a-ab1c-18913ce22956 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a75d9a3d-2de6-442a-ab1c-18913ce22956 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}