#s-cf6d666c-ddc4-4a85-a820-d242ccab6ce9 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cf6d666c-ddc4-4a85-a820-d242ccab6ce9 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cf6d666c-ddc4-4a85-a820-d242ccab6ce9 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cf6d666c-ddc4-4a85-a820-d242ccab6ce9 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cf6d666c-ddc4-4a85-a820-d242ccab6ce9 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cf6d666c-ddc4-4a85-a820-d242ccab6ce9 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cf6d666c-ddc4-4a85-a820-d242ccab6ce9 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cf6d666c-ddc4-4a85-a820-d242ccab6ce9 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cf6d666c-ddc4-4a85-a820-d242ccab6ce9 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cf6d666c-ddc4-4a85-a820-d242ccab6ce9 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cf6d666c-ddc4-4a85-a820-d242ccab6ce9 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cf6d666c-ddc4-4a85-a820-d242ccab6ce9 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cf6d666c-ddc4-4a85-a820-d242ccab6ce9 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cf6d666c-ddc4-4a85-a820-d242ccab6ce9 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cf6d666c-ddc4-4a85-a820-d242ccab6ce9 #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cf6d666c-ddc4-4a85-a820-d242ccab6ce9 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cf6d666c-ddc4-4a85-a820-d242ccab6ce9 #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cf6d666c-ddc4-4a85-a820-d242ccab6ce9 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cf6d666c-ddc4-4a85-a820-d242ccab6ce9 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cf6d666c-ddc4-4a85-a820-d242ccab6ce9 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}