#s-ea14afcc-5a80-4942-abe7-d7f0696c9c7f #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ea14afcc-5a80-4942-abe7-d7f0696c9c7f #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ea14afcc-5a80-4942-abe7-d7f0696c9c7f #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ea14afcc-5a80-4942-abe7-d7f0696c9c7f #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ea14afcc-5a80-4942-abe7-d7f0696c9c7f #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ea14afcc-5a80-4942-abe7-d7f0696c9c7f #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ea14afcc-5a80-4942-abe7-d7f0696c9c7f #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ea14afcc-5a80-4942-abe7-d7f0696c9c7f #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ea14afcc-5a80-4942-abe7-d7f0696c9c7f #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ea14afcc-5a80-4942-abe7-d7f0696c9c7f #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ea14afcc-5a80-4942-abe7-d7f0696c9c7f #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ea14afcc-5a80-4942-abe7-d7f0696c9c7f #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ea14afcc-5a80-4942-abe7-d7f0696c9c7f #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ea14afcc-5a80-4942-abe7-d7f0696c9c7f #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ea14afcc-5a80-4942-abe7-d7f0696c9c7f #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ea14afcc-5a80-4942-abe7-d7f0696c9c7f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}