#s-f4151ac9-422e-4e20-82dd-cba943274bfb #s-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-f4151ac9-422e-4e20-82dd-cba943274bfb #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f4151ac9-422e-4e20-82dd-cba943274bfb #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-f4151ac9-422e-4e20-82dd-cba943274bfb #s-Rectangle_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-f4151ac9-422e-4e20-82dd-cba943274bfb #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f4151ac9-422e-4e20-82dd-cba943274bfb #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-f4151ac9-422e-4e20-82dd-cba943274bfb #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-f4151ac9-422e-4e20-82dd-cba943274bfb #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-f4151ac9-422e-4e20-82dd-cba943274bfb #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-f4151ac9-422e-4e20-82dd-cba943274bfb #s-Rectangle_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-f4151ac9-422e-4e20-82dd-cba943274bfb #s-Rectangle_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-f4151ac9-422e-4e20-82dd-cba943274bfb #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-f4151ac9-422e-4e20-82dd-cba943274bfb #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-f4151ac9-422e-4e20-82dd-cba943274bfb #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-f4151ac9-422e-4e20-82dd-cba943274bfb #s-Rectangle_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-f4151ac9-422e-4e20-82dd-cba943274bfb #s-Rectangle_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-f4151ac9-422e-4e20-82dd-cba943274bfb #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-f4151ac9-422e-4e20-82dd-cba943274bfb #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-f4151ac9-422e-4e20-82dd-cba943274bfb #s-Rectangle_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-f4151ac9-422e-4e20-82dd-cba943274bfb #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-f4151ac9-422e-4e20-82dd-cba943274bfb #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-f4151ac9-422e-4e20-82dd-cba943274bfb #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-f4151ac9-422e-4e20-82dd-cba943274bfb #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-f4151ac9-422e-4e20-82dd-cba943274bfb #s-Text_17 {
  -ms-transform: rotate(0.0deg);
}
#s-f4151ac9-422e-4e20-82dd-cba943274bfb #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-f4151ac9-422e-4e20-82dd-cba943274bfb #s-Text_19 {
  -ms-transform: rotate(0.0deg);
}
#s-f4151ac9-422e-4e20-82dd-cba943274bfb #s-Text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-f4151ac9-422e-4e20-82dd-cba943274bfb #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-f4151ac9-422e-4e20-82dd-cba943274bfb #s-Text_22 {
  -ms-transform: rotate(0.0deg);
}
#s-f4151ac9-422e-4e20-82dd-cba943274bfb #s-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(271.0deg);
}
#s-f4151ac9-422e-4e20-82dd-cba943274bfb #s-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(271.0deg);
}
#s-f4151ac9-422e-4e20-82dd-cba943274bfb #s-Line_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(90.0deg);
}
#s-f4151ac9-422e-4e20-82dd-cba943274bfb #s-Line_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(90.0deg);
}
#s-f4151ac9-422e-4e20-82dd-cba943274bfb #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-f4151ac9-422e-4e20-82dd-cba943274bfb #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-f4151ac9-422e-4e20-82dd-cba943274bfb #s-Line_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(271.0deg);
}
#s-f4151ac9-422e-4e20-82dd-cba943274bfb #s-Line_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(271.0deg);
}
#s-f4151ac9-422e-4e20-82dd-cba943274bfb #s-Line_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(90.0deg);
}
#s-f4151ac9-422e-4e20-82dd-cba943274bfb #s-Line_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(90.0deg);
}
#s-f4151ac9-422e-4e20-82dd-cba943274bfb #s-Text_23 {
  -ms-transform: rotate(0.0deg);
}
#s-f4151ac9-422e-4e20-82dd-cba943274bfb #s-Text_24 {
  -ms-transform: rotate(0.0deg);
}
#s-f4151ac9-422e-4e20-82dd-cba943274bfb #s-Line_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(271.0deg);
}
#s-f4151ac9-422e-4e20-82dd-cba943274bfb #s-Line_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(271.0deg);
}
#s-f4151ac9-422e-4e20-82dd-cba943274bfb #s-Line_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(90.0deg);
}
#s-f4151ac9-422e-4e20-82dd-cba943274bfb #s-Line_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(90.0deg);
}
#s-f4151ac9-422e-4e20-82dd-cba943274bfb #s-Text_25 {
  -ms-transform: rotate(0.0deg);
}
#s-f4151ac9-422e-4e20-82dd-cba943274bfb #s-Text_26 {
  -ms-transform: rotate(0.0deg);
}
#s-f4151ac9-422e-4e20-82dd-cba943274bfb #s-Rectangle_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-f4151ac9-422e-4e20-82dd-cba943274bfb #s-Rectangle_9 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-f4151ac9-422e-4e20-82dd-cba943274bfb #s-Rectangle_10 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-f4151ac9-422e-4e20-82dd-cba943274bfb #s-Rectangle_11 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-f4151ac9-422e-4e20-82dd-cba943274bfb #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-f4151ac9-422e-4e20-82dd-cba943274bfb #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-f4151ac9-422e-4e20-82dd-cba943274bfb #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-f4151ac9-422e-4e20-82dd-cba943274bfb #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-f4151ac9-422e-4e20-82dd-cba943274bfb #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-f4151ac9-422e-4e20-82dd-cba943274bfb #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-f4151ac9-422e-4e20-82dd-cba943274bfb #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-f4151ac9-422e-4e20-82dd-cba943274bfb #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-f4151ac9-422e-4e20-82dd-cba943274bfb #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-f4151ac9-422e-4e20-82dd-cba943274bfb #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-f4151ac9-422e-4e20-82dd-cba943274bfb #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-f4151ac9-422e-4e20-82dd-cba943274bfb #s-Text_27 {
  -ms-transform: rotate(0.0deg);
}
#s-f4151ac9-422e-4e20-82dd-cba943274bfb #s-Text_28 {
  -ms-transform: rotate(0.0deg);
}
#s-f4151ac9-422e-4e20-82dd-cba943274bfb #s-Text_29 {
  -ms-transform: rotate(0.0deg);
}
#s-f4151ac9-422e-4e20-82dd-cba943274bfb #s-Text_30 {
  -ms-transform: rotate(0.0deg);
}
#s-f4151ac9-422e-4e20-82dd-cba943274bfb #s-Text_32 {
  -ms-transform: rotate(0.0deg);
}
#s-f4151ac9-422e-4e20-82dd-cba943274bfb #s-Text_31 {
  -ms-transform: rotate(0.0deg);
}
#s-f4151ac9-422e-4e20-82dd-cba943274bfb #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 62px;
  height: 23px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-f4151ac9-422e-4e20-82dd-cba943274bfb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}